# Dependências
node_modules/

# Builds
dist/
build/

# Variáveis de ambiente — NUNCA sobe para o Git
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# Docker volumes
.docker/

# Cobertura de testes
coverage/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/